In [8]:
import pandas as pd
import datetime as dt
import numpy as np

## Читаем целевую колонку из каждого файла excel

In [2]:
df_cond = pd.read_excel('data/COND_dv (25.05-01.06).xls.xlsx', usecols='C', header=None)
df_do = pd.read_excel('data/DO_dv (04.05-11.05).xls.xlsx', usecols='C', header=None)
df_o2 = pd.read_excel('data/O2_dv (11.05-18.05).xls.xlsx', usecols='C', header=None)
df_orp = pd.read_excel('data/ORP_dv (15.06-22.06).xls.xlsx', usecols='C', header=None)
df_ph = pd.read_excel('data/pH_dv (18.05-25.05).xls.xlsx', usecols='C', header=None)
df_tds = pd.read_excel('data/TDS_dv (01.05-08.06).xls.xlsx', usecols='C', header=None)

## Находим файл с меньшим числом измерений

In [21]:
print(len(df_cond))
print(len(df_do))
print(len(df_o2))
print(len(df_orp))
print(len(df_ph))
print(len(df_tds))

true_len = len(df_o2)

595835
599824
593195
596894
595834
597074

## Собираем все колонки в единый файл с 593195 строками

In [22]:
df = pd.DataFrame()

df['cond'] = df_cond[2][0:true_len]
df['do'] = df_do[2][0:true_len]
df['o2'] = df_o2[2][0:true_len]
df['orp'] = df_orp[2][0:true_len]
df['ph'] = df_ph[2][0:true_len]
df['tds'] = df_tds[2][0:true_len]

df

         cond    do     o2    orp    ph  tds
0       308.0  8.27  119.6  447.5  8.96  376
1       302.0  8.23  116.8  447.5  7.81  376
2       300.0  8.18  114.7  447.5  7.58  376
3       306.0  8.13  112.8  447.5  7.48  376
4       297.0  8.09  111.0  447.5  7.43  374
...       ...   ...    ...    ...   ...  ...
593190  183.6  4.48   68.2  303.0  6.52  343
593191  189.4  4.48   68.4  303.1  6.52  342
593192  194.0  4.48   68.2  303.6  6.52  343
593193  182.5  4.48   68.2  302.9  6.52  341
593194  191.2  4.48   68.3  303.0  6.52  341

[593195 rows x 6 columns]

## Создаем имитированную колонку с временным индексом

In [46]:
dt_fmt = "%m/%d/%Y:%H:%M:%S"


def get_date_range(dt_from, dt_to, freq="1D", dt_fmt=dt_fmt, **kwargs):
    dt_from = pd.to_datetime(dt_from, format=dt_fmt)
    dt_to = pd.to_datetime(dt_to, format=dt_fmt)
    return pd.date_range(dt_from, dt_to, freq=freq, **kwargs)


time = get_date_range("10/20/2022:00:00:05", "10/26/2022:20:46:39", freq="1S")
len(time)

df['date'] = time
df['date'] = pd.to_datetime(df['date'])
df

         cond    do     o2    orp    ph  tds                date
0       308.0  8.27  119.6  447.5  8.96  376 2022-10-20 00:00:05
1       302.0  8.23  116.8  447.5  7.81  376 2022-10-20 00:00:06
2       300.0  8.18  114.7  447.5  7.58  376 2022-10-20 00:00:07
3       306.0  8.13  112.8  447.5  7.48  376 2022-10-20 00:00:08
4       297.0  8.09  111.0  447.5  7.43  374 2022-10-20 00:00:09
...       ...   ...    ...    ...   ...  ...                 ...
593190  183.6  4.48   68.2  303.0  6.52  343 2022-10-26 20:46:35
593191  189.4  4.48   68.4  303.1  6.52  342 2022-10-26 20:46:36
593192  194.0  4.48   68.2  303.6  6.52  343 2022-10-26 20:46:37
593193  182.5  4.48   68.2  302.9  6.52  341 2022-10-26 20:46:38
593194  191.2  4.48   68.3  303.0  6.52  341 2022-10-26 20:46:39

[593195 rows x 7 columns]

In [47]:
df.to_csv('water_df.csv')